body, canvas {
    display: grid;
    place-items: center;
    margin: 0;
}

p {
    text-align: center;
    color: white;
    font: clamp(1rem, 20vw, 5rem) monospace;
    position: fixed;
    opacity: 1;
    transition: .5s;
}

body:hover p {
    opacity: 0;
    user-select: none;
}